@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.profile-box{
    display: flex;
    max-width: 100vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif; 
}
.container-prof{
    width: 20rem;
    height: 35rem;
    padding: 5px;
}
.container-prof .img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-prof .img img{
    margin: 17px 0px 0px 0px;
    width: 7rem;
    height: 7rem;
    border-radius: 80px;
    border: 2px solid rgb(37, 178, 233);
}
.container-prof .container-prof2{
    border: 0.001px dotted rgb(37, 178, 233);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    height: 23rem;
    border-radius: 7px;
}
.container-prof .container2-prof{
    background-color:transparent;
    color: white;
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 9.8rem;
    font-size: 18px;
    border-radius: 15px;
    letter-spacing: 1.3px;
    min-width: 90%;
}
.cont5-prof:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in;
}
.cont5-prof>:nth-child(1){
    color:rgb(37, 178, 233);
}
.container2-prof> :nth-child(1){
    font-size: 20px;
}