@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.TC{
    padding: 1.5rem;
    margin:5rem -1rem 0rem 1rem;
}

.trip-card-container{
    width: 100%;
}
.trip-card{
    width: 15rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    text-align: center;
    border: 2px solid black;
    background-color:transparent;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    border: 0.001px dotted rgb(37, 178, 233);
}
.trip-card:hover{
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    transform: scale(0.9);
    transition:transform 0.2s ease ;
}
.person-image-container img{
    margin-top: -9rem;
    width: 7.5rem;
    max-height: 7.5rem;
    background: transparent;
    border-radius: 150px;
    border: 2px double lightgrey;
    border: 2px solid rgba(37, 178, 233, 0.65);
}
.trip-info-container{
    color: white;
    margin-top: 1.2rem;
    font-size: 19px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 12px;
    letter-spacing: 0.2px;
}
.trip-info-container> :nth-child(1){
    font-size: 22px;
}
.trip-info-container .name > :nth-child(1){
    color:rgb(37, 178, 233);
}
.loc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}